.customBg {
  background-color: #d6eaeb;
}

ion-segment-button::part(indicator-background) {
  display: none;
}

// ion-segment-button {
// --indicator-box-shadow: transparent !important;
// --background: #d6eaeb;
// --color: #2d2e87;
// --background-checked: linear-gradient(to right, #2d2e87, #0083cb) !important;
// --color-checked: white;
// border-radius: 100px !important;
// }

ion-segment ion-segment-button.segment-button-checked {
  .csss {
    fill: #ffffff;
    display: flex;
    align-items: center;
    // height: 250px;
    width: 350px;
    background-color: #0991a3;
    border-radius: 50px;
  }

  .image {
    filter: invert(100%) sepia(10%) saturate(0%) hue-rotate(91deg)
      brightness(104%) contrast(104%);
  }
}
.csss {
  background-color: #d6eaeb;
  // border-radius: 100px;
}
