.customBg {
  background-color: #d6eaeb;
}

ion-segment-button::part(indicator-background) {
  display: none;
}

ion-segment-button::part(native) {
  color: transparent !important;
}

ion-segment ion-segment-button.segment-button-checked {
  .hidden-content {
    display: inline;
  }

  .csss {
    fill: #ffffff;
    display: flex;
    align-items: center;
    width: 420px;
    background-color: #0991a3;
    border-radius: 50px;
  }

  .image {
    filter: invert(100%) sepia(10%) saturate(0%) hue-rotate(91deg)
      brightness(104%) contrast(100%);
  }
}
.csss {
  width: 76px;
  height: 76px;
  background-color: #d6eaeb;
}

.hidden-content {
  display: none;
}

on-card {
  background-color: #ffffff;
}
.card {
  background-color: #ffffff;
}

.image {
  width: 76px;
  height: 76px;
}
