

<div class="border border-teal-200 rounded-md flex items-center">
      <img class="m-2 w-12 bg-teal-50 p-2 rounded-md" src="https://img.icons8.com/wired/64/building.png" />  
    <div class="mt-2">
      <span class="text-sm font-bold">Assets</span>
      <div class="">
        <span class="text-lg font-bold text-teal-400">123</span>
        <span class="text-[11px] mr-1">Total assets</span>
        <span class="text-lg font-bold text-teal-400">79%</span>
        <span class="text-[11px]">Inspected assets</span>
      </div>
    </div>

</div>
