<!-- <ion-row size="12" class="border border-teal-200 rounded-lg">
  <ion-col size="2" class="">
    <div class="rounded-lg bg-teal-50">
      <img class="m-2" src="https://img.icons8.com/wired/64/building.png" />
    </div>
  </ion-col>
  <ion-col size="10" class="mt-2">
    <div class="mt-2">
      <span class="text-md font-bold">Assets</span>
      <div class="">
        <span class="text-lg text-teal-400">123</span>
        <span class="text-xs mr-1">Total assets</span>

        <span class="text-lg text-teal-400">79%</span>
        <span class="text-xs">Inspected assets</span>
      </div>
    </div>
  </ion-col>
</ion-row> -->


<div class="border border-teal-200 rounded-md flex items-center">
    <!-- <div class="w-12 rounded-lg bg-teal-50"> -->
      <img class="m-2 w-12 bg-teal-50 p-2 rounded-md" src="https://img.icons8.com/wired/64/building.png" />
    <!-- </div> -->
  
    <div class="mt-2">
      <span class="text-sm font-bold">Assets</span>
      <div class="">
        <span class="text-lg font-bold text-teal-400">123</span>
        <span class="text-[11px] mr-1">Total assets</span>

        <span class="text-lg font-bold text-teal-400">79%</span>
        <span class="text-[11px]">Inspected assets</span>
      </div>
    </div>

</div>
