<ion-header>
  <ion-toolbar>
    <ion-title> Header </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card class="border-2">
    <ion-card-header class="border-b-2">
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button class="border-2" tab="dashboard">
            <ion-img
              class="w-6"
              src="../../../assets/icon/danger.svg"
              alt=""
            ></ion-img>
          </ion-tab-button>
          <ion-tab-button tab="dashboard">
            <ion-img
              class="w-6"
              src="../../../assets/icon/danger.svg"
              alt=""
            ></ion-img>
          </ion-tab-button>
          <ion-tab-button tab="dashboard">
            <ion-img
              class="w-6"
              src="../../../assets/icon/danger.svg"
              alt=""
            ></ion-img>
          </ion-tab-button>
          <ion-tab-button tab="dashboard">
            <ion-img
              class="w-6"
              src="../../../assets/icon/danger.svg"
              alt=""
            ></ion-img>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-card-header>

    <ion-card-content class="w-full"> </ion-card-content>
  </ion-card>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-asset-resgister></app-asset-resgister>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
