.custom {
  border: 5px;
  border-radius: 32px 32px 0 0;
}

.bgcolordiv {
  background-color: #f5feff;
  // background-color: #eb1010;
}

.bgColor {
  align-items: center;
  background-color: #edf5f5;
  border-color: #007382;
}

.bgstlye {
  border: 2%;
  // background-color: #007382;
}

.customize{
  margin: 30px;
  
}