<div
  class="custom fixed md:h-1/4 w-full h-2/4 bottom-0 bg-white border border-white-200 rounded-lg shadow bg-white-800 transform transition-transform duration-800"
  [ngClass]="{ 'translate-y-full': isBarOpen, hidden: isBarOpen }"
>

  <div class="absolute right-8 -mt-7 md:-mt-14 md:w-28 md:h-28 w-16 h-16 bgcolordiv rounded-full">
    <button
      (click)="toggleBar()"
      class="absolute ml-2 mt-2 md:w-20 md:h-20 w-12 h-12 bg-gray-800 text-white rounded-full cursor-pointer transition-all duration-800"
    >
      &#10006;
    </button>
  </div>
  <div class="m-4">
    <div class="font-bold text-[20px] md:text-[20px] mb-2">Select Category</div>
  </div>
  <div class="p-4 grid md:grid-cols-8 gap-8 grid-cols-4 bgColor w-full">
    <div class="border-2 p-2 bgColor">
      <img class="w-24" src="../../../assets/icon/bag.svg" alt="a" />
    </div>
    <div class="border-2 p-2 bgColor">
      <img class="w-24" src="../../../assets/icon/bag.svg" alt="a" />
    </div>
    <div class="border-2 p-1 bgColor">
      <img class="w-24" src="../../../assets/icon/bag.svg" alt="" />
    </div>
    <div class="border-2 p-1 bgColor">
      <img class="w-24" src="../../../assets/icon/bag.svg" alt="" />
    </div>
    <div class="border-2 p-1 bgColor">
      <img class="w-24" src="../../../assets/icon/bag.svg" alt="a" />
    </div>
    <div class="border-2 p-1 bgColor">
      <img class="w-24" src="../../../assets/icon/bag.svg" alt="a" />
    </div>
    <div class="border-2 p-1 bgColor">
      <img class="w-24" src="../../../assets/icon/bag.svg" alt="a" />
    </div>
    <div class="border-2 p-1 bgColor">
      <img class="w-24" src="../../../assets/icon/bag.svg" alt="a" />
    </div>
  </div>

</div>
