<div
  class="custom -ml-3 fixed w-full md:h-1/4 h-2/4 bottom-0 bg-white border border-white-200 rounded-lg shadow bg-white-800 transform transition-transform duration-800"
  [ngClass]="{ 'translate-y-full': !isBarOpen, hidden: !isBarOpen }"
>
  <div
    class="absolute right-7 -mt-7 md:-mt-14 md:w-28 md:h-28 w-16 h-16 bgcolordiv rounded-full"
  >
    <!-- <ion-button (click)="toggleBar()" class="absolute md:ml-4 md:mt-4 ml-2 mt-2 md:w-20 md:h-20 w-12 h-12 bg-black text-white rounded-full cursor-pointer transition-all duration-800"
      ><ion-img class="" src="../../../assets/icon/close.svg" alt=""></ion-img>
    </ion-button> -->
    <button
      (click)="toggleBar()"
      class="absolute md:ml-4 md:mt-4 ml-2 mt-2 md:w-20 md:h-20 w-12 h-12 bg-black text-white rounded-full cursor-pointer transition-all duration-800"
    >
      <img
        class="ml-3 w-6 md:ml-5 md:w-10"
        src="../../../assets/icon/close.svg"
        alt=""
      />
    </button>
  </div>
  <div class="m-4">
    <div class="font-bold text-[20px] md:text-[24px] mb-2">Select Category</div>
  </div>

  <ion-grid class="">
    <ion-row class="p-4 ion-justify-content-between">
      <ion-col size="3" sizeMd="1.30" sizeLg="1.30" sizeSm="3">
        <ion-img
          class="border-2 rounded p-4 bgColor w-full h-20"
          src="../../../assets/icon/danger.svg"
          alt=""
        ></ion-img>
        <ion-text style="text-align: center" color="dark">
          <h1>Sim</h1>
        </ion-text>
      </ion-col>

      <ion-col size="3" sizeMd="1.30" sizeLg="1.30" sizeSm="3">
        <ion-img
          class="border-2 rounded bgColor p-4 w-full h-20"
          src="../../../assets/icon/bag.svg"
          alt=""
        ></ion-img>
        <ion-text style="text-align: center" color="dark">
          <h1>Material management</h1>
        </ion-text>
      </ion-col>
      <ion-col size="3" sizeMd="1.30" sizeLg="1.30" sizeSm="3">
        <ion-img
          class="border-2 rounded p-4 w-full h-20"
          src="../../../assets/icon/Quarry.svg"
          alt=""
        ></ion-img>
        <ion-text style="text-align: center" color="dark">
          <h1>Query</h1>
        </ion-text>
      </ion-col>
      <ion-col size="3" sizeMd="1.30" sizeLg="1.30" sizeSm="3">
        <ion-img
          class="border-2 rounded bgColor p-4 w-full h-20"
          src="../../../assets/icon/danger.svg"
          alt=""
        ></ion-img>
        <ion-text style="text-align: center" color="dark">
          <h1>Electrical</h1>
        </ion-text>
      </ion-col>
      <ion-col size="3" sizeMd="1.30" sizeLg="1.30" sizeSm="3">
        <ion-img
          class="border-2 rounded bgColor p-4 w-full h-20"
          src="../../../assets/icon/bag.svg"
          alt=""
        ></ion-img>
        <ion-text style="text-align: center" color="dark">
          <h1>Hot material</h1>
        </ion-text>
      </ion-col>
      <ion-col size="3" sizeMd="1.30" sizeLg="1.30" sizeSm="3">
        <ion-img
          class="border-2 rounded p-4 w-full h-20"
          src="../../../assets/icon/Quarry.svg"
          alt=""
        ></ion-img>
        <ion-text style="text-align: center" color="dark">
          <h1>Fire Protection</h1>
        </ion-text>
      </ion-col>
      <ion-col size="3" sizeMd="1.30" sizeLg="1.30" sizeSm="3">
        <ion-img
          class="border-2 rounded p-4 w-full h-20"
          src="../../../assets/icon/Quarry.svg"
          alt=""
        ></ion-img>
        <ion-text style="text-align: center" color="dark">
          <h1>Environment</h1>
        </ion-text>
      </ion-col>
      <ion-col size="3" sizeMd="1.30" sizeLg="1.30" sizeSm="3">
        <ion-img
          class="border-2 rounded p-4 w-full h-20"
          src="../../../assets/icon/!.svg"
          alt=""
        ></ion-img>
        <ion-text style="text-align: center" color="dark">
          <h1>Insurance</h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
