<ion-card-content class="p-4">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item class="border rounded-t-md" color="accordion" slot="header">
        <!-- <ion-img
          class="w-6 mr-2"
          src="../../../../../assets/icon/edit.svg"
          alt=""
        ></ion-img> -->

        <ion-button size="small" shape="circle1">
          <ion-icon  name="trash"></ion-icon>
        </ion-button>

        <ion-label>{{ cardTitle }} (4 assets)</ion-label>
      </ion-item>

      <div
        class="border-2 borderColor md:grid md:grid-cols-2 md:gap-2"
        slot="content"
      >
        <app-accordion-card></app-accordion-card>
        <app-accordion-card></app-accordion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-card-content>
