

<ion-card>
  <ion-card-header>
    <ion-card-title></ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
   
<ion-accordion-group>
  <ion-accordion class="border" value="first">
    <ion-item slot="header" color="light">
      <ion-label>First Accordion</ion-label>
    </ion-item>
    <div class="bg-nlue-100 grid grid-cols-2 gap-4" slot="content">
      <div class="ion-padding" >First Content</div>
      <div class="ion-padding" >second Content</div>
      <div class="ion-padding" >Third Content</div>
      <div class="ion-padding">Fourth Content</div>
    </div>
    
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Second Accordion</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Second Content</div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Third Accordion</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Third Content</div>
  </ion-accordion>
</ion-accordion-group>

  </ion-card-content>
</ion-card>
