ion-menu::part(container) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

ion-split-pane {
  --side-width: 350px;
  --side-max-width: 350px;
  --border: 1px dashed #b3baff;
  ion-menu {
    --background: var(--ion-color-white) !important;
    ion-content {
      --background: var(--ion-color-white) !important;
    }
  }

  ion-chip {
    --background: var(--ion-color-chip) !important;
  }
}
