<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Assets</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Assets</ion-card-title>
          </ion-card-header>
          <app-accordoion cardTitle="Component 1"></app-accordoion>
          <app-accordoion></app-accordoion>
          <app-accordoion></app-accordoion>
        </ion-card>
        <!-- <app-accordoion></app-accordoion> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
