<ion-header [translucent]="true" class="border-b-sm shadow-md">
  <ion-toolbar>
    <ion-title>Assets</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card >
          <ion-card-header>
            <ion-card-title>Assets</ion-card-title>
          </ion-card-header>
          <app-accordoion
            [item]="item"
            [AssetTypes]="item.AssetTypes"
            *ngFor="let item of AssetTypesData"
            [valueLength]="item.values.length"
          ></app-accordoion>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
