<ion-header [translucent]="true" class="border-b-sm shadow-md">
  <ion-toolbar>
    <ion-title>Assets</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Assets</ion-card-title>
          </ion-card-header>
          <app-accordoion cardTitle="Silo"></app-accordoion>
          <app-accordoion cardTitle="Hopper"></app-accordoion>
          <app-accordoion cardTitle="Bin"></app-accordoion>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
