<div class="container">
  <ion-row class="12" class="-mt-14">
    <ion-col size="3">
      <div
        class="progress-wrapper border-4 size-24 bg-white border-red-200 rounded-lg"
      >
        <div class="-mt-6 ml-3 p-2 items-center">
          <span class="text-white text-xs p-1 rounded text-center bg-red-500">
            Level 1
          </span>
        </div>

        <div class="current text-xs ml-2 -mt-2" [ngStyle]="getOverlayStyle()">
          {{ current1 }}/{{ max }}
        </div>
        <round-progress
          [current]="current1"
          [max]="max"
          [radius]="25"
          [stroke]="stroke"
          [color]="gradient ? 'url(#gradient)' : color1"
          [background]="background1"
          [responsive]="responsive"
        />
        <div class="text-xs mt-2 text-center">20% closed</div>
      </div>
    </ion-col>

    <ion-col size="3">
      <div
        class="progress-wrapper border-4 size-24 bg-white border-orange-200 rounded-lg"
      >
        <div class="-mt-6 ml-3 p-2 items-center">
          <span
            class="text-white text-xs p-1 rounded text-center bg-orange-500"
          >
            Level 1
          </span>
        </div>

        <div class="current ml-2 -mt-1" [ngStyle]="getOverlayStyle()">
          {{ current1 }}/{{ max }}
        </div>
        <round-progress
          [current]="current1"
          [max]="max"
          [radius]="25"
          [stroke]="stroke"
          [color]="gradient ? 'url(#gradient)' : color2"
          [background]="background2"
          [responsive]="responsive"
        />
        <div class="text-xs mt-1 text-center">20% closed</div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div
        class="progress-wrapper border-4 size-24 bg-white border-yellow-200 rounded-lg"
      >
        <div class="-mt-6 ml-3 p-2 items-center">
          <span
            class="text-white text-xs p-1 rounded text-center bg-yellow-500"
          >
            Level 1
          </span>
        </div>

        <div class="current ml-2 -mt-1" [ngStyle]="getOverlayStyle()">
          {{ current1 }}/{{ max }}
        </div>
        <round-progress
          [current]="current1"
          [max]="max"
          [radius]="25"
          [stroke]="stroke"
          [color]="gradient ? 'url(#gradient)' : color3"
          [background]="background3"
          [responsive]="responsive"
        />
        <div class="text-xs mt-1 text-center">20% closed</div>
      </div>
    </ion-col>

    <!-- <ion-col  size="4" sizeMd="4" sizeSm="12">
    <div
      class="border-4 bg-white border-orange-200 rounded-lg progress-wrapper"
    >
      <div class="grid -mt-8 -ml-1 p-4 justify-items-center">
        <span class="text-white rounded w-20 text-center bg-orange-500">
          Level 2
        </span>
      </div>

      <div class="current" [ngStyle]="getOverlayStyle()">
        {{ current2 }}/{{ max }}
      </div>
      <round-progress
        [current]="current2"
        [max]="max"
        [radius]="30"
        [stroke]="stroke"
        [color]="gradient ? 'url(#gradient)' : color2"
        [background]="background2"
        [responsive]="responsive"
      />
      <div class="text-center mt-2">47% closed</div>
    </div>
  </ion-col>
  <ion-col size="4" sizeMd="4" sizeSm="12">
    <div
      class="border-4 bg-white border-yellow-200 rounded-lg progress-wrapper"
    >
      <div class="grid -mt-8 -ml-1 p-4 justify-items-center">
        <span class="text-white rounded w-20 text-center bg-yellow-500">
          Level 3
        </span>
      </div>
      <div class="current" [ngStyle]="getOverlayStyle()">
        {{ current3 }}/{{ max }}
      </div>
      <round-progress
        [current]="current3"
        [max]="max"
        [radius]="30"
        [stroke]="stroke"
        [color]="gradient ? 'url(#gradient)' : color3"
        [background]="background3"
        [responsive]="responsive"
      />
      <div class="text-center mt-2">33% closed</div>
    </div>
  </ion-col> -->
  </ion-row>
</div>
