  <div class="p-2">
      <div class="p-2 Color border rounded-sm flex justify-between">
        <div class="space-y-[4px]">
          <div class="md:text-[12px] text-[10px]">{{assetName}}</div>
          <div class="md:text-[12px] font-bold text-[10px]"> Silo 1</div>
        </div>
        <div class="space-y-[4px] w-30">
          <div class="md:text-[12px] text-[10px]">status</div>
          <div class="md:text-[12px] text-[9px] p-[2px] border bgcolor rounded-sm ">Asset Approval Pending</div>
        </div>
      
        <div class="flex space-x-2">
          <ion-button size="small" shape="circle">
            <ion-icon name="pencil"></ion-icon>
  
          </ion-button>
              
              <ion-button size="small" shape="circle1">
                <ion-icon  name="trash"></ion-icon>
  
              </ion-button>
          </div>

       
            
      
        
      </div>
  </div>
