<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeSm="6" sizeMd="6" sizeLg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Stats</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <app-asset-cards></app-asset-cards>
            <app-legends></app-legends>
            <app-charts></app-charts>
            <app-findings></app-findings>
            <app-round></app-round>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
